<tr>
  <td> <%= link_to child.name, child_path(child) %> </td>
  <td> <% if child.started_today %> &#10003;	<% end %> </td>
  <td> <% if child.completed_today %> &#10003;	<% end %> </td>
  <td> <% if child.reported_today %> &#10003;	<% end %> </td>
</tr>
