	<h3 class="text-center">
		<% if current_user.user? %>
			Your Enrolled Children
		<% elsif current_user.admin? %>
			Roster
			<% end %>
		<hr></h3>

    <% if @children.count > 0 %>

			<% if current_user.user? %>
				<ul>
					<% @children.each do |child| %>
						<li><%= link_to child.name, child_path(child) %></li>
					<% end %>
				</ul>
			<% else %>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Student</th>
							<th>Today's Report Generated?</th>
							<th>Today's Report Completed?</th>
							<th>Today's Report Emailed?</th>
						</tr>
					</thead>
					<tbody>
	        	<%= render @children %>
	      	</tbody>
				</table>
				<% end %>

    <% else %>
			<% if current_user.user? %>
  	 		<p>There are not yet any children associated with your account</p>
			<% else %>
				<p> No children registered yet </p>
			<% end %>
    <% end %>
