	<h3 class="top_banner">
		<% if current_user.user? %>
			Your Enrolled Children
		<% elsif current_user.admin? %>
			Roster
			<% end %>
		</h3>


	<div class="main-content">
    <% if @children.count > 0 %>
      <ul>
        <%= render @children %>
      </ul>
    <% else %>
  	 <p>There are no children registered yet</p>
    <% end %>
  </div>
