<h3 class="top_banner">Roster</h3>

	<div class="main-content">
    <% if @children.count > 0 %>
      <ul>
        <%= render @children %>
      </ul>
    <% else %>
  	 <p>There are no children registered yet</p>
    <% end %>
  </div>
