<h3 class="text-center">Administrative Control Panel</h3>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="well">
        <h4>Edit Account Access Privileges </h4><hr>
      <table class="table">
        <tbody>
          <% @users.all.reject{|u| u == current_user}.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<br>
<div class="well">
<h4>Register New User</h4><hr>
<%= render 'form', { user: @user, children: @children}%>





  </div>
</div>
