/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-sass
 *= require jt.timepicker
 */

body {
  padding-top: 70px;
  background-color: #fff;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

.top_banner {
  text-align: center;
}

.navbar {
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
}

.navbar-fixed-top .nav {
    padding: 40px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 70px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.main_content {
   background-color: #d9d9d9;
    border: 2px solid black;
    color: black;
}




.field_with_errors {
 color: red;
}

.loginform {
  width: 50%;
  margin: auto;
}
