/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-sass
 *= require jt.timepicker
 */

 /*------------------------------------*\
 	#OVERRIDE STLES
 	This style sheet can be used for two different functions:
 	1. Override specific Bootstrap styles.
 	2. Add your own styles.
 \*------------------------------------*/

 /**
  * Padding-top is required if using .navbar-fixed-top.
  * This can be removed Remove if using .navbar-static-top.
  * The height may need to be changed if the height of you
  * navigation changes.
 */

 body { padding-top: 70px; }



 /**
  * Bootstrap requires a containing element to wrap site contents
  * and house the grid system. You may choose one of two containers.
  * Use .container for a responsive fixed width container.
  * Use .container-fluid for a full width container.

  * If using container-fluid, you may need to set a maximum width,
  * so that the container will not spread to the entire viewport.
 */

 .container-fluid { max-width: 1200px; }

 #error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
