<li>
  <%= link_to format_date(daily_report.date), child_daily_report_path(daily_report.child, daily_report) %>
  <% if policy(daily_report).update? %>
    <%= link_to " - edit", edit_child_daily_report_path(daily_report.child, daily_report) %>
    <%= link_to " - delete", child_daily_report_path(daily_report.child, daily_report), method: :delete, data: { confirm: "Are you sure?"} %>

  <% end %>
  <% if policy(daily_report).communicate? && !daily_report.emailed %>
    <%= link_to " - email", child_daily_report_communicate_path(daily_report.child, daily_report) %>
  <% end %>
  <% if !current_user.user? && daily_report.emailed %>
     <span> - sent to parent </span>
  <% end %>

</li>
